<div class="village">
	<h3>Resorts list</h3>
	<span class="line"> </span>
	<div class="activity_box">
		<div class="scrollbar" id="style-2">
			<!--TODO: вынести в отдельный компонент-->
			<div *ngFor="let resort of resorts | resortType:resortType" class="activity-row">
				<div class="activity-desc">
					<h5>Resort Address</h5>
					<p>{{resort.address}}</p>
					<h6>{{resort.telephone}}</h6>
					<button (click)="emitChangeResort(resort)">Show</button>
				</div>
				<div class="activity-img">
					<ul>
						<li><img [src]="resort.firstSightUrl" alt="" /></li>
						<li><img [src]="resort.secondSightUrl"  alt="" /></li>
					</ul>
				</div>
				<div class="clear"> </div>
			</div>
		</div>
	</div>
</div>